@import '/_variables';

%panel-styles {
	width: 100%;
	padding: $PaddingAll;
	font-weight: 300;
}
%panel-header {
	font-size: $DefaultTextSize;
	color: $DarkerTextColor;
}
%panel-with-icons-styles {
	width: 100%;
	padding: $PaddingTopBottom;
	font-weight: 300;	
}

%container-extension {
	width: 100%;
	display: flex;
	margin: $MarginTopBottom;
	margin-top: 0;
	padding: 15px 0 20px 0;
    border-bottom:1px solid #F4F4F4;
}

%display-extension {
	width: 85%;
    font-size: 12px;
    font-weight: 300;
    color:#ABABAB;
    cursor: pointer;
}

%header-extension-h5 {
	font-weight: 300;
	font-size: 12px;
	color: #A9A9A9;
}

%header-extension-h3 {
	font-weight: 500;
	font-size: 12px;
    padding: 0;
}