@import '/_variables';

%shared-titles{
	h1{
		font-size: $HeaderTextSizeExtraLarge;
	}
	h2{
		font-size: $HeaderTextSize;
	}
	h3{
		font-size: $DefaultTextSize;
	}
	& h1, & h2, & h3 {
		font-weight: 100;
		margin-bottom: 10px;
	}	
}

%form-positioning{
	color: #888;
    margin-top: 10px; 
    width: 100%;
}

%shared-form-props{
	width: 100%;
    padding: 10px 0;
    font-size: $DefaultTextSize;
    border:none;
    border-bottom: 1px solid $BorderColorDarkGrey;

}
%header-props{
	display: block;
    background: $SecondaryHeaderBgColor;
    padding: $Padding20;
    color: $DarkerTextColor;
    font-weight: 300;
}
