//variables

	$BodyBgColor: #E4E9F0;
	$PrimaryBgColor: #311b92;
	$SecondaryBgColor: #FFF;
	$DefaultTextColor:  #666;
	$NavTextColor: #A9A9A9;
	$NavHoverColor: #00AFF0;

	$MainSize: 14px;
	$SecondarySize: 12px;
	$SmallSize: 10px;


//functions

@function setTextColor ($PrimaryBgColor){
	@if(lightness($PrimaryBgColor) > 50) {
		@return  #000;
	}@else{
		@return #FFF;
	}
}