//variables

	$BodyBgColor: #E4E9F0;
	$PrimaryBgColor: #311b92;
	$SecondaryBgColor: #FFF;

	$DefaultTextColor:  #666;
	$HeaderTextColor: #1B1A1A;
	$NavTextColor: #A9A9A9;
	$NavHoverColor: #00AFF0;

	$DefaultTextSize: 14px;
	$SecondaryTextSize: 12px;
	$SmallTextSize: 10px;

	$HeaderTextSizeExtraLarge: 35px;
	$HeaderTextSizeLarge: 28px;
	$HeaderTextSize: 18px;

	$HeaderBgColor: $NavHoverColor;

//positioning
	$LeftPosition: 5%;
	$RightPosition: 5%;

	$PositionCenter: 10% auto;

//margins and padding
	$PaddingAll: 10px;
	$MarginAll: 10px;
//functions

@function setTextColor ($PrimaryBgColor){
	@if(lightness($PrimaryBgColor) > 50) {
		@return  #000;
	}@else{
		@return #FFF;
	}
}