//variables

	$bodyBgColor: #E4E9F0;
	$primaryBgColor: #4a148c;
	$secondaryBgColor: #012346;
	$DefaultTextColor:  #666;

//mixins

	$antialiased: antialiased;
	$grayscale: grayscale;

//functions

@function setTextColor ($primaryBgColor){
	@if(lightness ($primaryBgColor) > 50) {
		@return  #000;
	}else{
		@return #FFF;
	}
}