@import './partials/_variables';
@import './partials/_extend';

button {
	border: none;
	cursor: pointer;
}
.btn-container{
	display: inline-block;
	margin: 5px 10px;
}
.btn {
	padding: 8px 20px;
	margin: 10px auto;
	font-size: $DefaultTextSize;
	font-weight: 400;
}

.btn-large{
	padding: 20px;
	font-size: $DefaultTextSize;
	font-weight: 400;
}

.default {
	color: setTextColor(#052963);
	background: #052963;

	&:hover {
		color: #FFF;
		background: #111;
	}
}

.facebook-login{
	color: setTextColor(#3b5998);
	background: #3b5998;

	&:hover {
		color: setTextColor(#8b9dc3);
		background: #8b9dc3;
	}
}

.gmail-login {
	color: #FFF;
	background: #d34836;

	&:hover {
		color: setTextColor(#d34836);
		background: #DF4A32;
	}
}

.primary {
	color: setTextColor($BtnPrimary);
	background: $BtnPrimary;

	&:hover{
		color: setTextColor($BtnPrimaryHover);
		background: $BtnPrimaryHover;
	}
}

.secondary {
	color: #FFF;
	background: $BtnSecondary;

	&:hover{
		color: #FFF;
		background: $BtnSecondaryHover;
	}
}

.danger {
	color: #FFF;
	background: $BtnDanger;

	&:hover {
		color: #FFF;
		background: $BtnDangerHover;
	}
}


.warning {
	color: #B71C1C;
	background: $BtnWarning;

	&:hover {
		color: #B71C1C;
		background: $BtnWarningHover;
	}
}

// .success {
// 	color: setTextColor(#FFE4E1);
// 	background: #FFE4E1;
// }