@import './partials/_variables';

footer{
	width: 100%;
	margin: 5% 0;
	position: absolute;
	font-size: $SecondaryTextSize;
	bottom: 0;
	left: 0;
}
.footer-left{
	position: absolute;
	max-width: 60%;
	left: 5%;

	li{
		display: inline;
    	padding: 0 10px;

    	a{
    		color: $PrimaryBgColor;

    		&:hover{
    			color: $PrimaryBgColor;
    		}
    	}
	}

}
.footer-right{
	position: absolute;
	max-width: 40%;
	right: 5%;
}