@import './partials/_variables';
@import './partials/_extend';

legend {
	font-size: $HeaderTextSize;
	padding: $PaddingTopBottom;
    text-align: center;
    font-weight: bold;
	color: #000;
}

.input-field {
	width: 100%;
	position: relative;
    
	label {
		width: 100%;
		font-size: $SecondaryTextSize;
		position: absolute;
		margin: 0 0 20px 0;

	}

}
.input {
	@extend %shared-form-props;
	border-bottom: 1px solid $BorderColorDarkGrey;
}
.text-area {
	min-height: 60px;
	border-bottom: 1px solid $BorderColorDarkGrey;
	@extend %shared-form-props;
}

.alert-container {
	display: block;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background:#FFE4E1;
    border-radius: 2px; 
   -moz-border-radius: 2px; 
   -webkit-border-radius: 2px; 
    border:1px solid #FFCCCC;
}
.alert-error {    
    color: #B71C1C;
    font-weight: 500;
}

.input-error {
	@extend %shared-form-props;
    border-bottom:2px solid #E93924;
    -webkit-box-shadow: 0 6px 2px -6px #E93924;
    -moz-box-shadow: 0 6px 2px -6px #E93924;
}

.form-upload-box{
	height: 300px;
	@extend %file-upload-props;
	line-height: 300px;
	&:hover{
		border-color: #000;
		color: #000;
	}
}
.file-upload-box{
	height: 150px;
	line-height: 100px;
	@extend %file-upload-props;
}
.forgot-password{
    text-align: right;
    font-size: 10px;

    a {
        color: #ccc;
        text-decoration: underline;
        &:hover{
             color: #333;
        }
    }
}
.sign-up{
    text-align: center;
    padding-top: 30px;
    font-weight: 400;

    a {
       color: #052963;
    }
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    height: auto;
    font-size: 14px;
    /* 20px, 1.25rem */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    /*display: inline-block;*/
    overflow: hidden;
    padding: 0.625rem 1.35rem;
    /* 10px 20px  */
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

// .inputfile + label i {
//     width: 1em;
//     height: 1em;
//     vertical-align: middle;
//     fill: currentColor;
//     margin-top: -0.25em;
//     /* 4px */
//     margin-right: 0.25em;
//     /* 4px */
// }
