@import './partials/_variables';
@import './partials/_extend';

header {
  	position: relative;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 60px;
  	background: $HeaderBgColor;
  	color: setTextColor($PrimaryBgColor);
}

.logo-container{
	position: absolute;
	top: $TopPosition;
	left: $LeftPosition; 
	max-width: 50%;
	padding: 18px 0 0 $PaddingLeft;

	a {
		color: setTextColor($PrimaryBgColor);

		span {
			display: inline-block;
			margin-left: $MarginLeft;
			font-weight: 500;
    		font-size: 16px;
    		text-transform: uppercase;
		}
	}
}

.header-nav-right{
    position: absolute;
    top: 0;
    right: $RightPosition;
    max-width: 50%;
    font-size: $SmallTextSize;
    padding: 16px $PaddingRight 0 0;

    a {
	    transition:all linear 0.15s;
	    color: setTextColor($PrimaryBgColor);
	}
	ul {
		li{
			position: relative;
			right: 0;
		    display: inline-block;
		    font-size: $SmallTextSize;
		    padding: 0;

			&:last-child{
				margin-right: 0;
				padding-right: 0;
			}
		}
	}
}

