@import './partials/_variables';
@import './partials/_grid';

.insights-container {
	top: 150px;
    height: auto;
}
.page-header {
    color: $HeaderTextColor;

    h2{
    	font-size: 17px;
    	font-weight: 400;
    }
}

.quick-stats-container {
	margin:25px 0;
}
.stats-container{
	background: $SecondaryBgColor;
	padding: 15px;
	-webkit-box-shadow: 0px 1px 5px -5px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 0px 1px 5px -5px rgba(50, 50, 50, 0.55);
    box-shadow: 0px 1px 5px -5px rgba(50, 50, 50, 0.55);
}

.quick-icon{
    float: left;
    width: 30%;
    color: $HeaderTextColor;
}
.quick-text{
    float: left;
    width: 70%;
    text-align: right;
    text-transform: uppercase;

    h2 {
    	font-size: $SmallTextSize;
    	font-weight: 400;
    	padding: 0 0 5px 0;
    }
    h3 {
    	font-size: $HeaderTextSize;
    	font-weight: 500;
    	padding: 0;

    }
}
.quick-last-update-container{
	float: left;
    width: 100%;
    margin:10px 0 0 0;
    border-top: 1px solid #F4F4F4;
    padding: 10px 0 0 0;
    font-size: $SecondaryTextSize;
    color: $NavTextColor;
}