/*
  Date: August 2017
  Description: Dashboard Styles
  Version: 1.0
  Design By: Prince
  Author URL: http://designbyprince.com
*/

/* ===========================
   ======= Body style ======== 
   =========================== */

@import './partials/_variables';
@import './partials/_extend';
/*@import './partials/_mixins';*/

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

i {
    margin-right: 10px;
}
button{
    border-radius:none;
    -webkit-border-radius:none;
    -moz-border-radius:none;
}
.clearfix {
    clear: all;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $DefaultTextSize;
    color: $DefaultTextColor;
    background: $BodyBgColor;
    line-height: 1.5em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

header {
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 60px;
  	background: $PrimaryBgColor;
  	color: setTextColor($PrimaryBgColor);
}
section {
    position: relative;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.main-container {
    top: 120px;
    width: 100%;
}
.side-bar{
    position: fixed;
    left: $LeftPosition;
    width: 18%;
    height: 900px;
}
.side-bar-header{
    width: 100%;
    padding: 20px 10px;
    background-color: $HeaderBgColor;
    color: setTextColor($HeaderBgColor);

    h3{
        font-size: $DefaultTextSize;
        font-weight: 400;
    }
}
.side-nav-bar{
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background: $SecondaryBgColor;
    span{
        float: left;
        width: 100%;
        margin: 0 0 20px 0;

        h3{
            font-size: $DefaultTextSize;
            font-weight: 500;
        }

        li{
            font-size: $SecondaryTextSize;
            font-weight: 300;
            display: block;
            padding: 0;
            margin: 0;
            color: $lighterTextColor;

            a{
                color: $lighterTextColor;

                &:hover, &:active{
                    color: $NavHoverColor;
                }
            }
        }
    }  
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.secondary-background{
    background-color: $SecondaryBgColor;
}
.table-header{
    @extend %header-props;
}
.cs-table{
    width: 100%;

    table{
        width:100%;
        border-collapse: collapse;
        padding: 0;
        margin:0;
    }
    tr{
        width: 100%;
    }
    th {
        width: auto;
        padding:0 20px;
        margin:0 0 20px 0;
        font-weight: 400;
        }
    th:first-child, th:last-child{
        width: 10%;
    }

    td {
        width: auto;
        font-weight: 300;
        color:#333;
        cursor: pointer;
        padding:10px 15px;
        border-bottom:1px solid #E4E9F0; 

        a{
            color:#00AFF0;
        }

        span{
            margin:0 10px;
            font-weight: 100;
        }
    }
        
}
