/*
  Date: August 2017
  Description: Dashboard Styles
  Version: 1.0
  Design By: Prince
  Author URL: http://designbyprince.com
*/

/* ===========================
   ======= Body style ======== 
   =========================== */

@import './partials/_variables';
@import './partials/_extend';
/*@import './partials/_mixins';*/

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

i {
    font-style: normal;
    font-weight: normal;
    margin-right: 10px;
}
button{
    border-radius:none;
    -webkit-border-radius:none;
    -moz-border-radius:none;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
input, textarea, select, option{
  font-family: 'Open Sans', sans-serif;
  font-size: $DefaultTextSize;
}
.clearfix {
    clear: all;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $DefaultTextSize;
    color: $DefaultTextColor;
    background: $BodyBgColor;
    line-height: 1.5em;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.main-container {
    position: relative;
    top:100%;
}

.container { 
    width: 80%;
    margin: 4% auto;
}

.page-header {
    width: 100%;
    margin: 2% 0;
    padding: 0;

    h3{
        font-size: $HeaderTextSize;
        font-weight: 100;
        line-height: 1.3em;
    }
}
.display-icons {
    float: left;
    color:#A9A9A9;
}

.list-icon {
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    font-weight: bold;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
}

.blue-bg {
    color: #FFF;
    background: #3FC0E4;
    border: 0px solid #3FC0E4;
}
.green-bg {
    color: #FFF;
    background: #FF6384;
    border: 0px solid #FF6384;
}
.red-bg {
    color: #FFF;
    background: #FFCE56;
    border: 0px solid #FFCE56;

}


.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}
.create-space {
    width: 100%;
    margin: $MarginTopBottom;
}

.fixed-height {
    height: 320px;
    overflow: hidden;
}

.border-thin{
    border: 1px solid #E1E1E1;
    padding: $PaddingAll;
    margin: $MarginTopBottom;
}