@import './partials/_variables';
.pages-container{
    position: absolute;
    left: 18%;
    width:82%;
    padding: 30px $PaddingRight 0 $PaddingLeft;
}
.page-header {
    color: $HeaderTextColor;
    font-weight: 300;
    h1{
        font-size: $HeaderTextSizeLarge;
        font-weight: 300; 
    }
    h2{
        font-size: $HeaderTextSize;
        font-weight: 400;
    }
    span{
        font-size: $HeaderTextSize;
        font-weight: 200;
        line-height: 1.6em;
    }
}
.settings{
    float: left;
    width: 100%;
}
.header{
    display: block;
    background:#F5F5F5;
    padding: $Padding20;
    color: $DarkerTextColor;
    font-weight: 300;

    h3{
        font-size: 15px;
        font-weight: 400;
    }
}
.settings-list{
    float: left;
    width: 100%;
    margin:0 0 10px 0;

    li{
        display: block;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 1px solid $BorderColorDarkGrey;

        span {
            position: relative;
            right: 0;
        }

        ul{
            li{
                display: block;
                border:none;

                a{
                    color: $HeaderBgColor;
                }
            }
        }
    }
}